/* General */

@font-face {
  font-family: "FloridaProject";
  src: url("../assets/fonts/Florida Project Phase One.ttf");
}

:root {
  --primary-color: #f7af38;
  --secondary-color: #252523;
  --whatsapp-color: #00bb2d;
}

body {
  scroll-behavior: smooth !important;
  background-color: var(--secondary-color) !important;
  touch-action: manipulation !important;
  overflow-x: none;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}
body::-webkit-scrollbar-track{
  border-radius: 16px;
  background: #000000
}
body::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background:var(--primary-color);
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}

span {
  font-weight: bold;
}