.btn-cta {
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    background-color: var(--secondary-color);
    padding: 16px 8px;
    display: flex;
    justify-content: center;
}

