/* NAVBAR */

#header-navbar {
    background-color: var(--secondary-color) !important;
    padding:24px;
  }
  
  .nav-link {
    cursor: pointer;
    color: whitesmoke !important;
    font-weight: bold !important;
    letter-spacing: 1.2px;
    margin-right: 16px;
  }
  
  .nav-link:hover {
    color: var(--primary-color) !important;
  }
  
  #button-toggle {
    background-color: var(--primary-color) !important;
  }